{
    "extends": "airbnb-base",
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "rules": {
      "no-param-reassign": 0,
      "no-mixed-operators": 0,
      "object-curly-newline": ["error", { "consistent": true }]
    }
}