  <%- include("header") -%>

  <div ng-app="enioApp">
        <div ng-controller="FirmaController">
            <h3>Podaci o poduzeću</h3>
            <table>
                <tr>
                    <td>Naziv</td>
                    <td>
                        <input ng-model="firma.naziv" />
                    </td>
                </tr>
                <tr>
                    <td>Adresa</td>
                    <td>
                        <input ng-model="firma.adresa" />
                    </td>
                </tr>
                <tr>
                    <td>Mjesto</td>
                    <td>
                        <input ng-model="firma.mjesto" />
                    </td>
                </tr>
                <tr>
                    <td>OIB</td>
                    <td>
                        <input ng-model="firma.oib" />
                    </td>
                </tr>
                <tr>
                    <td>Žiro račun</td>
                    <td>
                        <input ng-model="firma.zr" />
                    </td>
                </tr>
            </table>
            
            <h3>Programski parametri</h3>
            <table>
                <tr>
                    <td>Aktivna godina</td>
                    <td>
                        <input ng-model="firma.aktivna_godina" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isAktivnaGodinaValid()">Neispravna godina</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        
                    </td>
                </tr>
            </table>
            <input value="Pohrani" type="button" ng-click="saveFirma()" />
        </div>
    </div>

  <%- include("footer") -%>
