<html>
<head>
  <title><%= title %></title>
  <%- include("styles") -%>
  <%- include("scripts") -%>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/racun-list">RaÄuni</a></li>
                    <li><a href="/Home/artikl">Artikl</a></li>
                    <li><a href="/Home/partner">Partner</a></li>
                    <li><a href="/Home/tarifa">Tarifa</a></li>
                    <li><a href="/Home/pdv">PDV</a></li>
                    <li><a href="/Home/config">Postavke</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">