<%- include("header") -%>

<div>
        <h2>Lista partnera</h2>
    
        <input style="font-size: 130%;" type="button" value="Dodaj novog partnera" onclick="openPartnerDialogNew();" />
        <br /><br />
    
        <table id="PartnerTable"></table>
        <div id="PartnerTablePager"></div>	
        <br /><br />
        
        <div id="PartnerInput" ng-app="enioApp">
        <div id="divNgController" ng-controller="PartnerController">
            <table>
                <tr>
                    <td>Naziv:</td>
                    <td>
                        <input ng-model="selectedPartner.naziv" />
                    </td>
                    <td>
                        <span class="validation" name="RequiredField" ng-show="!validation.isNazivExist()"></span>
                        <span class="validation" ng-show="!validation.isNazivValid()">Naziv ne može imati više od 100 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>OIB:</td>
                    <td>
                        <input ng-model="selectedPartner.oib" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isOibValid()">OIB mora imati 11 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>Adresa:</td>
                    <td>
                        <input ng-model="selectedPartner.adresa" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isAdresaValid()">Adresa ne može imati više od 100 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>Mjesto:</td>
                    <td>
                        <input ng-model="selectedPartner.mjesto" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isMjestoValid()">Mjesto ne može imati više od 20 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>Pošta:</td>
                    <td>
                        <input ng-model="selectedPartner.posta" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isPostaValid()">Pošta ne može imati više od 10 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>Valuta:</td>
                    <td>
                        <input type="number" ng-model="selectedPartner.valuta" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isValutaValid()">Neispravna valuta</span>
                    </td>
                </tr>
                <tr ng-show="!isSelectedPartnerNew()">
                    <td>Aktivan:</td>
                    <td>
                        <input type="checkbox" ng-model="selectedPartner.active" />
                    </td>
                    <td></td>
                </tr>
            </table>
            <input type="button" value="Pohrani" ng-click="save()" />
            <input type="button" value="Odustani" onclick="closePartnerDialog()" />
    
        </div>
        </div>
    </div>
    
    <script type="text/javascript">
        var ngControllerScope;
        
        function getNgControllerScope() {
            if (!ngControllerScope) {
                ngControllerScope = angular.element($("#divNgController")).scope();
            }
            
            return ngControllerScope;
        }
        
        $("span[name=RequiredField]").text(enioNg.textResources.requiredField);
        
        $("#PartnerInput").dialog({
            modal: true,
            width: "700px"
        });
        
        function closePartnerDialog() {
            $("#PartnerInput").dialog("close");
        }
        
        function openPartnerDialog() {
            $("#PartnerInput").dialog("open");
        }
        
        function openPartnerDialogNew() {
            var scope = getNgControllerScope();
            scope.newPartner();
            openPartnerDialog();
        }
        
        $(document).on("PartnerIsSaved", function () {
            closePartnerDialog();
            $("#PartnerTable").trigger("reloadGrid");
        });
        
        closePartnerDialog();
        
        $("#PartnerTable").jqGrid({
            url: "/api/partner",
            datatype: "json",
            colNames: ["PartnerId", "Naziv", "OIB", "Adresa", "Mjesto", "Pošta", "Valuta", "Aktivan"],
            colModel: [
                { name: "id", index: "id", hidden: true, width: 0 },
                { name: "naziv", index: "naziv", width: 250, searchoptions: { clearSearch: false } },
                { name: "oib", index: "oib", width: 90, align: "center", searchoptions: { clearSearch: false } },
                { name: "adresa", index: "adresa", width: 200, searchoptions: { clearSearch: false } },
                { name: "mjesto", index: "mjesto", width: 100, searchoptions: { clearSearch: false } },
                { name: "posta", index: "posta", width: 70, searchoptions: { clearSearch: false } },
                { name: "valuta", index: "valuta", width: 50, align: "center", searchoptions: { clearSearch: false } },
                { name: "active", index: "active", width: 55, formatter: 'select', editoptions: { value: 'true:Da;false:Ne'}, 
                    stype: "select", searchoptions: { sopt: ["eq"], value: ":--;True:Da;False:Ne", clearSearch: false }, align: "center" }
            ],
            pager: "#PartnerTablePager",
            caption: "Lista partnera",
            onSelectRow: function (id) {
                var rowData = $(this).getRowData(id);
                var scope = getNgControllerScope();
                scope.loadPartner(rowData["id"]);
                openPartnerDialog();
            },
            height: 'auto'
        }).filterToolbar({ groupOp : 'AND', stringResult: true, searchOnEnter: false });
        
        $("#PartnerTable").jqGrid("navGrid", "#PartnerTablePager");
    </script>

<%- include("footer") -%>