  <%- include("header") -%>

  <div>
    <h2>Lista stopa PDV-a</h2>

    <input style="font-size: 130%;" type="button" value="Dodaj novi PDV" onclick="openPdvDialogNew();" />
    <br /><br />

	<table id="PdvTable"></table>
	<div id="PdvTablePager"></div>	
	<br /><br />

    <div id="PdvInput" ng-app="enioApp">
        <div id="divNgController" ng-controller="PdvController">
            <table>
                <tr>
                    <td>Naziv:</td>
                    <td>
                        <input ng-model="selectedPdv.naziv" />
                    </td>
                    <td>
                        <span class="validation" name="RequiredField" ng-show="!validation.isNazivExist()"></span>
                        <span class="validation" ng-show="!validation.isNazivValid()">Naziv ne može imati više od 128 znakova</span>
                    </td>
                </tr>
                <tr>
                    <td>Stopa:</td>
                    <td>
                        <input ng-model="selectedPdv.stopa" />
                    </td>
                    <td>
                        <span class="validation" ng-show="!validation.isStopaValid()">Neispravna stopa PDV-a</span>
                    </td>
                </tr>
            </table>

		    <input type="button" value="Pohrani" ng-click="save()" />
		    <input type="button" value="Odustani" onclick="closePdvDialog()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    var ngControllerScope;

    function getNgControllerScope() {
        if (!ngControllerScope) {
            ngControllerScope = angular.element($("#divNgController")).scope();
        }

        return ngControllerScope;
    }

    $("span[name=RequiredField]").text(enioNg.textResources.requiredField);

    $("#PdvInput").dialog({
        modal: true,
        width: "700px"
    });

    function closePdvDialog() {
        $("#PdvInput").dialog("close");
    }

    function openPdvDialog() {
        $("#PdvInput").dialog("open");
    }

    function openPdvDialogNew() {
        var scope = getNgControllerScope();
        scope.newPdv();
        openPdvDialog();
    }

    $(document).on("PdvIsSaved", function () {
    	closePdvDialog();
        $("#PdvTable").trigger("reloadGrid");
    });

    closePdvDialog();

    $("#PdvTable").jqGrid({
        url: "/api/pdv",
        datatype: "json",
        colNames: ["id", "naziv", "stopa"],
        colModel: [
            { name: "id", index: "id", hidden: true, width: 0 },
            { name: "naziv", index: "naziv", width: 250, searchoptions: { clearSearch: false } },
            { name: "stopa", index: "stopa", width: 200, align: "right", formatter: "number", formatoptions: { decimalSeparator: ",", decimalPlaces: 2 },
            	searchoptions: { clearSearch: false } }
        ],
        pager: "#PdvTablePager",
        caption: "Stope PDV-a",
        onSelectRow: function (id) {
            var rowData = $(this).getRowData(id);
            var scope = getNgControllerScope();
            scope.loadPdv(rowData["id"]);
            openPdvDialog();
        },
        height: 'auto'
    }).filterToolbar({ groupOp: "AND", stringResult: true, searchOnEnter: false });

    $("#PdvTable").jqGrid("navGrid", "#PdvTablePager");
</script>

  <%- include("footer") -%>
